<%= fields_for payer do |p| %>
  <h3>Payment</h3>
  <h4>Billing Information</h4>
  <b>Name:</b><br>
  First:
  <%= p.text_field :first_name, value: payer.try(:first_name), size: 25, maxlength: 50, required: true %>
  Last:
  <%= p.text_field :last_name, value: payer.try(:last_name), size: 25, maxlength: 50, required: true %><p>
  <b>Address:</b>
  <%= p.text_field :address, placeholder: '123 Jump Street', value: payer.try(:address), size: 50, maxlength: 50, required: true %><p>
  <b>City:</b>
  <%= p.text_field :city, value: payer.try(:city), size: 30, maxlength: 50, required: true %>
  <b>State:</b>
  <%= p.select :state, options_for_select(us_states, payer.try(:state) || ['California', 'CA']), required: true %><p>
  <b>Zip:</b>
  <%= p.text_field :zip, value: payer.try(:zip), size: 5, maxlength: 5, required: true %>
  <h4>Card Information</h4>
  <b>Type:</b>
  <%= p.select :type, options_for_select([['Visa', 'visa'],['MasterCard', 'mastercard'],['Discover', 'discover'],['American Express', 'amex']],
                                          payer.try(:type) || ['Visa', 'visa']), required: true %><p>
  <b>Number:</b>
  <%= p.text_field :number, placeholder: 'XXXXXXXXXXXXXXXX', value: payer.try(:number), size: 20, maxlength: 16, required: true %><p>
  <b>Expiration:</b>
  <%= p.number_field :expire_month, in: 1..12, value: payer.try(:expire_month), size: 2, maxlength: 2, required: true %>
  <%= p.number_field :expire_year, in: Date.today.year..2100, value: payer.try(:expire_year), size: 4, maxlength: 4, required: true %><p>
  <b>CVV2:</b>
  <%= p.number_field :cvv2, in: 0..999, placeholder: 'XXX', value: payer.try(:cvv2), size: 3, maxlength: 3, required: true %><p>
<% end %>
