<center>
  <%= form_for @account, :validate => true do |a| %>
    <h2><%= flash[:notice] %></h2>
    <h3>Contestant</h3>
    <b>Name:</b><br>
    First:
    <%= a.text_field :first_name, value: @account.try(:first_name) %>
    Last:
    <%= a.text_field :last_name %><br>
    <b>Sex:</b></br>
    Male <%= a.radio_button :gender, 'M' %> Female <%= a.radio_button :gender, 'F' %><br>
    <b>Birth Date:</b>
    <%= a.date_field :birth_date, value: Date.today %><br>
    <b>City:</b>
    <%= a.text_field :city %>
    <b>State:</b>
    <%= a.select :state, options_for_select(us_states, ['California', 'CA']) %><br>
    <b>Phone:</b>
    <%= a.telephone_field :phone %><br>
    <b>School:</b>
    <%= a.text_field :school %><br>
    <b>Hobbies:</b>
    <%= a.text_field :hobby %><br>
    <br><hr>
    <h3>Video</h3>
    <%= @embedded_video %><br>
    <h4>YouTube Embed Key</h4>
    <%= a.text_field :video_embed_url, 
      onchange: 'update_src("' + RegisterController::YOUTUBE_EMBED_ID + '", "' + RegisterController::YOUTUBE_EMBED_URL + '" + this.value)',
      onkeyup: 'update_src("' + RegisterController::YOUTUBE_EMBED_ID + '", "' + RegisterController::YOUTUBE_EMBED_URL + '" + this.value)' %><br>
    <br><hr>
    <%= fields_for @payment_info do |p| %>
      <h3>Payment</h3>
      <h4>Billing Information</h4>
      <b>Name:</b><br>
      First:
      <%= p.text_field :first_name, title: 'First name', text: 'First name' %>
      Last:
      <%= p.text_field :last_name %><br>
      <b>Address:</b>
      <%= p.text_field :address, placeholder: '123 Jump Street' %><br>
      <b>City:</b>
      <%= p.text_field :city %>
      <b>State:</b>
      <%= p.select :state, options_for_select(us_states, ['California', 'CA']) %><br>
      <h4>Card Information</h4>
      <b>Type:</b>
      <%= p.select :type, options_for_select(['visa','mastercard','discover','amex'], 'visa') %><br>
      <b>Number:</b>
      <%= p.text_field :number, placeholder: 'XXXXXXXXXXXXXXXX' %><br>
      <b>Expiration:</b>
      <%= p.number_field :expire_month, in: 1..12, placeholder: 'MM' %>
      <%= p.number_field :expire_year, in: Date.today.year..2100, placeholder: 'YYYY' %><br>
      <b>CVV2</b>
      <%= p.number_field :cvv2, in: 0..999, placeholder: 'XXX' %><br>
    <% end %>
    <br><hr>
    I agree to some shit
    <%= check_box :eula, :agreement %><br>
    <%= button_to 'Register', accounts_path %>
<% end %>
</center>
