<% if votee.nil? %>
  <%= form_for vote, remote: true do |v| %>
    <%= render partial: "votes", locals: { vote: vote, accounts: accounts } %>
    <br>
    <%= v.submit "Vote" %>
  <% end %>
<% else %>
  <%= form_for vote, url: { action: :pay, controller: :votes }, remote: true do |v| %>
    <%= render partial: "shared/payer", locals: { payer: payer } %>
    <b>You are voting for:</b><br>
    <%= votee.try(:first_name) %> <%= votee.try(:last_name) %><p>
    <b>Quantity ($1 per vote):</b>
    <%= fields_for vote do |vo| %>
      <%= vo.hidden_field :account_id, value: votee.id %><br>
      <%= vo.number_field :quantity, value: vote.try(:quantity) || 1, in: 1..999999 %><p>
    <% end %>
    <%= submit_tag "Vote", data: { disable_with: "Processing..." } %>
  <% end %>
  <button action="/votes" data-remote="true" method="get">Back</button>
<% end %>
