<table>
  <tr><th>Contestants</th></tr>
  <%= fields_for vote do |v| %>
    <% accounts.each do |a| -%>
      <tr>
        <td>
          <%= v.radio_button :account_id, a.try(:id), checked: (vote.try(:account_id).present?) %> <%= a.try(:first_name) %> <%= a.try(:last_name) %><br>
          <%= %Q{<div id="#{a.try(:id)}">}.html_safe %>
            <%= %Q{<a href="##{a.try(:id)}" id="#{a.try(:id)}" onclick="showVideo(this, '#{h(a.try(:video_embed_url))}');">show video<br></a>}.html_safe %>
          </div>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

