<center>
  <%= form_for @account, url: { :action => 'create' }, :validate => true do |a| %>
    <h1>Registration</h1>
    <h2><%= flash[:notice].html_safe unless flash[:notice].nil? %></h2>
    <%= image_tag "vti_2016_T.png", width: '390', height: '260' %>
    <h3>Contestant</h3>
    <b>Name:</b><br>
    First:
    <%= a.text_field :first_name, value: @account.try(:first_name), size: 25, maxlength: 50, required: true %>
    Last:
    <%= a.text_field :last_name, value: @account.try(:last_name), size: 25, maxlength: 50, required: true %><p>
    <b>Gender:</b></br>
    Male <%= a.radio_button :gender, 'M', checked: (@account.try(:gender) == 'M'), required: true %> 
    Female <%= a.radio_button :gender, 'F', checked: (@account.try(:gender) == 'F'), required: true %><p>
    <b>Birth Date:</b>
    <%= a.date_field :birth_date, value: @account.try(:birth_date), required: true %><p>
    <b>City:</b>
    <%= a.text_field :city, value: @account.try(:city), size: 30, maxlength: 50, required: true %>
    <b>State:</b>
    <%= a.select :state, options_for_select(us_states, @account.try(:state) || ['California', 'CA']), required: true %><p>
    <b>Email:</b>
    <%= a.email_field :email, value: @account.try(:email), size: 50, maxlength: 50, required: true %><p>
    <b>Phone:</b>
    <%= a.telephone_field :phone, value: @account.try(:phone), size: 17, maxlength: 17, required: true %><p>
    <b>School:</b>
    <%= a.text_field :school, value: @account.try(:school), size: 50, maxlength: 50, required: true %><p>
    <b>Hobbies:</b>
    <%= a.text_field :hobby, value: @account.try(:hobby), size: 50, maxlength: 50 %><p>
    <hr>
    <h3>Video</h3>
    <%= %Q{<iframe width="560" height="315" src="https://www.youtube.com/embed/#{h(@account.video_embed_url)}" frameborder="0" allowfullscreen id="embedded_video"></iframe>}.html_safe %><br>
    <h4>YouTube Embed Key</h4>
    <b>Step 1</b>: Go to <a href="https://www.youtube.com/upload" target="_blank">https://www.youtube.com/upload</a>. Register for a free account if you don't already have one.<br>
    <b>Step 2</b>: Either drag your video file into the web browser window from your file browser or click on 'Select files to upload' and select your audition video from the proper directory<br>
    <b>Step 3</b>: Be sure the video is set to be Public and then click Publish<br>
    <b>Step 4</b>: Copy the embed key to the clipboard ( e.g. for a share link: https://youtu.be/1wXdboYNIFo the embed key is 1wXdboYNIFo )<br>
    <b>Step 5</b>: Paste the embed key in the below text box and ensure you are able to preview your video above.<p>
    <%= a.text_field :video_embed_url, 
      onchange: 'update_src("embedded_video", "https://www.youtube.com/embed/" + this.value)',
      onkeyup: 'update_src("embedded_video", "https://www.youtube.com/embed/" + this.value)',
      value: @account.try(:video_embed_url), size: 11, maxlength: 11, required: true %><p>
    <hr>
    <%= render partial: "shared/payment_info", locals: { payment_info: @payment_info } %>
    <hr>
    <h3>The above credit card will be charged $25 for registration</h3>
    <h3>Terms:</h3> I hereby assign and grant to San Ramon Valley Rotary Club and Rotary 
    International the right and permission to use and publish the 
    photographs/film/videotapes/ electronic representations and/or sound 
    recordings made of me or my child at all Rotary of San Ramon Valley
    activities, and I hereby release the San Ramon Valley Rotary, Rotary 
    International and/or any other local Rotary Club, the activity coordinators, 
    and all employees, volunteers, related parties, or other organizations 
    associated with the activity from any and all liability for any/all such use and
    publication.<br>
    I hereby authorize the reproduction, sale, copyright, exhibit,
    broadcast, electronic storage, and/or distribution of said
    photographs/film/videotapes/electronic representations and/or sound
    recordings without limitation at the discretion of the Rotary Clubs involved 
    and/or Rotary International and I specifically waive any right to any 
    compensation I may have for any of the foregoing.<p>
    <%= check_box :eula, :agreement, required: true %>
    By checking this box, I am 18 years of age or older and I agree to the above terms.<p>
    <%= button_to "Register", accounts_path %>
<% end %>
</center>
